.containerBlog {
  padding: 6rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.titleSection {
  text-align: left;
  width: 100%;
}
.titleBlog {
  font-family: Futura;
  font-size: 22px;
  font-weight: 400;
}
.blog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 4em;
}
.blog p {
  font-size: 16px;
}
.buttonMore {
  width: fit-content;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 15px;
  background-color: #eaaa3b;
  font-family: Futura;
  font-size: 16px;
  margin: 4rem 0 0 0;
}
.buttonMore:hover {
  cursor: pointer;
}
