.contactModuleContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 140px 0.5fr 1fr 0.5fr 1fr 0.5fr 140px;
  grid-template-rows: auto 40px auto 40px auto;
  margin-bottom: 6rem;
}
.name {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.email {
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 3/6;
  grid-row: 3/4;
  gap: 10px;
}
.inputs input {
  height: 40px;
  background-color: #fafafa;
  border-radius: 15px;
  border: 4px solid #050505;
  overflow-x: auto;
}
.message input {
  height: 60px;
}
.inputs label {
  font-size: 24px;
  font-family: Futura;
}
.button {
  grid-row: 5/6;
  grid-column: 4/5;
  width: 100%;
  margin: 0;
  font-size: 24px;
}
