body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: Futura;
}
.navbar {
  padding: 0 140px;
}
.navbarTop {
  display: grid;

  padding-top: 50px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 400px;
}
.navRouting {
  display: flex;
  flex-direction: row;
  list-style: none;
  grid-column: 2/4;
  justify-self: right;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.navRouting li {
  height: fit-content;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 15px;
}
.navRouting li:hover {
  background-color: #eaaa3b;
  cursor: pointer;
}
.navRouting li a {
  text-decoration: none;
  color: #050505;
}
.navRouting li p {
  margin: 0;
  padding: 0;
}
.colorChanger {
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background: #050505;
  align-self: left;
}
.containerLogo {
  position: absolute;
  width: 30vw;
  height: 25vw;
  justify-self: center;
  grid-column: 1/4;
  grid-row: -1/-2;
  align-self: center;
  justify-self: center;
}
.orangeBanner {
  width: 100vw;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaaa3b;
}
.orangeBanner h1 {
  font-size: 48px;
  font-family: Futura;
  font-weight: 500;
}
.footerContainer {
  background: #eaaa3b;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 140px;
}
.containerLinks {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-self: center;
  padding: 36px 0;
}
.icon {
  position: relative;
  width: 36px;
  height: 36px;
}
.copyright {
  color: #050505;
  font-size: 12px;
  font-family: Futura;
  padding: 18px 0;
}
